.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app__main {
  flex: 1;
  display: flex;
}

.app__controls {
  margin-left: 0px;
  width: 200px;
  transition: margin-left 405ms var(--good-easing);
  overflow-y: auto;
  overflow-x: hidden;
}

.app__controls--hidden {
  margin-left: -200px;
}

.app__split-pane-container {
  flex: 1;
  position: relative;
}

.app__pane {
  box-sizing: border-box;
  height: 100%;
}

.Pane2 {
  overflow: scroll;
}
