.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 8px;
}

.control {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.control__label {
  font-weight: bold;
  margin-right: 12px;
  text-align: center;
}
