.controls {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 8px;
}

.control {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.control:not(last-of-type) {
  margin-bottom: 8px;
}

.control__label {
  font-weight: bold;
  margin-right: 12px;
  text-align: center;
  flex: 1;
}
