.tree {
  height: 100%;
  position: relative;
}

.tree__clipboard-button {
  position: absolute;
  top: 0;
  right: 16px;
}

.tree__clipboard-button:before {
  position: absolute;
}

.tree__text {
  font-family: monospace;
}
