:root {
  --color-default: #44423e;
  --color-default-light: #605e5a;
  --color-primary: #22a30b;
  --color-primary-light: #38d81c;
  --color-secondary: #7f4700;
  --color-secondary-light: #b76a09;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}
