:root {
  --color-default: #44423e;
  --color-default-light: #605e5a;
  --color-primary: #22a30b;
  --color-primary-light: #38d81c;
  --color-secondary: #7f4700;
  --color-secondary-light: #b76a09;
  --good-easing: cubic-bezier(0.23, 1, 0.32, 1);
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.22);
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
}
